.counter-app {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 20px;
   width: 100px;
   height: 100px;
}

.btn-click {
   padding: 3px 5px;
   font-size: 18px;
   border: 1px solid #000;
   background-color: gold;
   &:last-child {
      display: flex;
      flex: 0 0 33%;
      align-items: center;
      justify-content: center;
   }
}

